body {
  background-color: dimgray;
  color: lightgoldenrodyellow;
  font-size: 30px;
}

#calculator__body {
  width: 500px;
  height: 400px;
  background-color: rgb(46, 46, 46);
  border-radius: 3%;
}

#calculator__screen {
  display: block;
  align-content: center;
  width: 100%;
  height: 20%;
  background-color: black;
  margin-top: 5%;
}

#calculator__branding {
  width: 100%;
  height: 5%;
  background-color: lightgoldenrodyellow;
  font-size: 15px;
  color: dimgray;
  text-align: right;
}

.container {
  display: grid;
  width: 100%;
  height: 75%;
  grid-template-columns: 6 1fr;
  grid-template-rows: 4 1fr;
}

.calculator__buttons {
  background-color: rgb(44, 44, 44);
  border: 1px solid rgb(34, 34, 34);
  color: white;
  text-align: center;
  font-size: 25px;
}

.calculator__buttons:hover {
  color: rgb(44, 44, 44);
  background-color: white;
}
#button__pi {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#button__clear {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

#button__add {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#button__subtract {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#button__divide {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#button__multiply {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#button__equals {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#button__zero {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
#button__one {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#button__two {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

#button__three {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

#button__four {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#button__five {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

#button__six {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

#button__seven {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

#button__eight {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#button__nine {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

#button__zero {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

#button__decimal {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
